.buttonAddMovie {
  position: absolute;
  right: 4rem;
  top: 3rem;
}
.container {
  display: flex;
  margin: auto;
  top: 45%;
  position: relative;
  transform: translateY(-50%);
  max-width: 96rem;
  .aside {
    min-width: 25rem;
    max-width: 25rem;
    max-height: 60rem;
    overflow: hidden;
    overflow-y: auto;
  }
  .detail {
    flex: 1;
  }
}