.input {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    &.error {
        border: 1px solid red;
    }
}